<ion-view view-title="{{'Dados Cliente'}}" hide-back-button="true">
    <ion-content>
        <div class="list">
            <label class="item item-input">
                <span class="input-label">Nome</span>
                <input type="text" ng-model="nomeCliente" name="nomeCliente">
            </label>
            <label class="item item-input">
                <span class="input-label">Email</span>
                <input type="text" ng-model="emailCliente" name="emailCliente">
            </label>
            <label class="item item-input">
                <span class="input-label">Telefone</span>
                <input type="text" ng-model="telefoneCliente" name="telefoneCliente">
            </label>
                       
            <button class="button button-assertive button-block" ng-click="enviarDadosCliente(nomeCliente,emailCliente,telefoneCliente)"> 
               Confirmar reserva
            </button>
        </div>
        
    </ion-content>
</ion-view>