<ion-view view-title="{{::restaurant.nome}}" hide-back-button="true">
    <ion-pane>
        <ion-content>
            <div class="list card">
                <div class="item item-image">
                    <img ng-src="{{::restaurant.url_foto}}">
                </div>
                <div class="item item-body">
                    <p>{{::restaurant.descricao}}</p>
                    <p>Endereço: {{::restaurant.endereco}}</p>
                    <p>Telefone: {{::restaurant.telefone}}</p>
                    <button class="button button-assertive button-block" ng-click="reservarMesa()"  "> 
                	Confirmar reserva
                    </button>
                </div>
            </div>
        </ion-content>
   </ion-pane>
</ion-view>

        <!-- 
        <ion-content scroll="false">
            <section class="home-container">
                <div class="row header">
                    <div class="col text-center">
                        [LOGO / HEADER]
                    </div>
                </div>
                <div class="row icon-row">
                    <div class="col text-center">
                        <button class="button button-positive">Icon</button> Title
                    </div>
                    <div class="col text-center">
                        <button class="button button-positive">Icon</button> Title
                    </div>
                </div>
                <div class="row icon-row">
                    <div class="col text-center">
                        <button class="button button-positive">Icon</button> Title
                    </div>
                    <div class="col text-center">
                        <button class="button button-positive">Icon</button> Title
                    </div>
                </div>
                <div class="row icon-row">
                    <div class="col text-center">
                        <button class="button button-positive">Icon</button> Title
                    </div>
                    <div class="col text-center">
                        <button class="button button-positive">Icon</button> Title
                    </div>
                </div>
        </ion-content>
    </ion-pane>
</ion-view>
-->