<ion-view view-title="Restaurantes" hide-back-button="true">
    <ion-content>
        <ion-list>
            <div class="row responsive-sm">
                <ion-item class="col-50" ng-repeat="restaurant in restaurants" ng-href="#/app/restaurant/{{::restaurant.id}}">
                    <div class="item-thumbnail-left">
                        <img ng-src="{{::restaurant.url_foto}}">
                        <h2>{{::restaurant.nome}}</h2>
                        <p>{{::restaurant.descricao}}</p>
                    </div>
                </ion-item>
            </div>
        </ion-list>
    </ion-content>
</ion-view>