<ion-view view-title="{{::restaurant.name}}" hide-back-button="true">
    <ion-content>
        <div class="list card">
            <label class="item item-input">
                <span class="input-label">Date</span>
                <input type="date" ng-model="dataEscolhida" name="dataEscolhida">
            </label>

            <button class="button button-assertive button-block" ng-click="escolheData(dataEscolhida)"> 
               Avançar
            </button>
        </div>
    </ion-content>
</ion-view>