<ion-view view-title="{{::restaurant.name}}" hide-back-button="true">
    <ion-content>
        <div class="list card">
            <label class="item item-input" name="horario">
                <span class="input-label">Horario</span>
                <input type="time" ng-model="horario">
            </label>

            <button class="button button-assertive button-block" ng-click="escolheHorario(horario)"> 
               Avançar
            </button>
        </div>
    </ion-content>
</ion-view>